* { 
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 2vh;
}
html, body {
    color: white;
    height: 100%;
    overflow-x:hidden;
}

.bg {
    background-image: url("../imgs/lucki.gif");
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    height:100vh;
    
    position: relative;
   
    z-index: -1;
}
.blur {
    position: absolute;
    filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.website-content {
  position: absolute;
  inset: 0;
  margin: auto;
  text-align: center;
}
#vomit {
    max-width: 10vmin;
}
.latest {
    margin: 10vmin 25%;
    padding: 10vmin;
    background-color: black;
    border: 2px solid;
    border-color: rgb(9, 255, 0);
}
#latest-text {
    padding-top: 1vmin;
}
#content {
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
.redhover:hover {
    color:rgb(9, 255, 0);

}
#title {
    font-size: 3vmin;
    margin-top: -8vmin;
}
/* padding and margin break the background due to too much space, adding an white bar, how do i fix dat? */
#post {
    padding: 1vmin;
    margin: 0 15% 0 15%;
    background-color: rgba(0, 0, 0, 0.767);
}
.platforms img{
    text-align: center;
    padding: 8vmin;
    max-width: 30vmin;
}

.platforms img {
    transition: 0.3s;
}
.platforms img:hover{
    transform: translate(0, -10px);
}
.writeup-list {
    margin: 5vmin 25%;
    border: 2px solid;
    border-color: rgb(9, 255, 0);
    
}
#overall-title {
    font-size: 4vmin;
    padding: 5vmin 0 2.5vmin 0;
}
.banner-bg {
    background-image: url("../imgs/banner.png"); 
    background-color: rgba(0, 0, 0, 0.486);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
}
.writeup-list ul {
    padding: 1vmin;
    list-style: none;
}
.writeup-list li {
    padding: 0.5vmin;
}
.writeup-list img {
    padding: 0 0.5vmin 0 0;
    max-width: 2.5vmin;
    vertical-align: middle;
}
@media screen and (max-width: 481px) {
    #post {
        margin: 0;
        padding: 1vmin;
        background-color: rgba(0, 0, 0, 0.767);
    }
    .platforms img{
        
        display: block;
        margin:auto;
        padding: 5vmin;
        max-width: 30vmin;
    }
    .writeup-list img {
        padding: 0 0.5vmin 0 0;
        max-width: 4vmin;
    }
}